<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">

<head>
    <link href="/static/css/common.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/static/css/sujets.css" type="text/css" media="screen" rel="stylesheet">
</head>

<body>
{% block header %}
    <div id="header">
        <h3>CodeClub</h3>
	</div>
{% endblock %}
{% block content %}
{% endblock %}

    <pre id="roflcopter">
 ROFL:ROFL:ROFL:ROFL
         _^___
 L    __/   []\
LOL===_        \
 L     \________]
         I   I
        -------/
    </pre>
</body>
</html>
